<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ request.user }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'administrator_app/css/main_admin.css' %}">
</head>
<body>

    <p class="welcome"> Welcome {{ request.user.first_name }}</p>

    <ul>
          <li><a href="admin">Admin Panel</a></li>
          <li><a href="create_service">Create Service</a></li>
          <li><a href="create_schedule"> Create Schedule </a></li>
          <li><a href="">Worker List</a></li>
<!--       <li style="float:right">
                  <form action="{% url 'logout' %}" method="POST">{% csrf_token %}
                      <button type="submit" class="active">
                          Logout
                      </button>
                  </form>
          </li> -->
    </ul>
</body>
</html>