<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ request.user }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'administrator_app/css/main_admin.css' %}">
</head>
<body>
    <p class="welcome"> Welcome {{ request.user.first_name }}</p>
    <a href="admin">
        <button class="button" role="button">
            Admin Panel
        </button>
    </a>
<hr>
    <a href="">
        <button class="button" role="button">
            Create Service
        </button>
    </a>
    <br>
    <br>
    <a href="">
        <button class="button" role="button">
            Create Schedule
        </button>
    </a>
    <br>
    <br>
    <a href="">
        <button class="button" role="button">
            Worker List
        </button>
    </a>
    <br>
    <br>
    <form action="{% url 'logout' %}" method="POST">{% csrf_token %}
        <button type="submit" class="button" role="button">
            Logout
        </button>
    </form>
</body>
</html>