{% extends 'templates/home_page.html' %}

{% block links %}
            <a href="my_schedule" class="btn btn-primary">  My schedule </a>
            <a href="{% url 'worker_feedbacks' request.user.first_name %}" class="btn btn-primary"> Feedbacks </a>
            <a href="logout" class="btn btn-primary"> Logout </a>
{% endblock %}

{% block content %}
        <div class="d-flex flex-column bd-highlight align-items-center">
            {% if not current_orders %}
                <div class="mt-5">There aren't any orders today...</div>
            {% else %}
                <table class="table">
                  <thead>
                        <tr>
                          <th>Client</th>
                          <th>Service</th>
                          <th>Time</th>
                        </tr>
                  </thead>
                  <tbody>
                  {% for order in current_orders %}
                        <tr>
                          <td>{{ order.user }}</td>
                          <td>{{ order.service }}</td>
                          <td>{{ order.time }}</td>
                        </tr>
                  {% endfor %}
                  </tbody>
                </table>
            {% endif %}
        </div>
{% endblock %}