{% extends 'templates/list.html' %}

{% block links %}
        <a href="/my_schedule" class="home mt-3 text-dark text-decoration-none">
            Home
        </a>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column bd-highlight align-items-center">
            {% if not orders %}
                <div class="mt-5">There aren't any orders for this date...</div>
            {% else %}
                <table class="table">
                  <thead>
                        <tr>
                          <th>Client</th>
                          <th>Service</th>
                          <th>Time</th>
                        </tr>
                  </thead>
                  <tbody>
                  {% for order in orders %}
                        <tr>
                          <td>{{ order.user }}</td>
                          <td>{{ order.service }}</td>
                          <td>{{ order.time }}</td>
                        </tr>
                  {% endfor %}
                  </tbody>
                </table>
            {% endif %}
        </div>
{% endblock %}