{% extends 'templates/choose.html' %}

{% block header %}
    Please, choose the worker
{% endblock %}

{% block content %}
    <div class="container mt-5">
            <div class="row d-flex flex-row justify-content-around align-items-start">
                {% for worker in workers %}
                    <div class="col-sm-4 text-center border rounded border-secondary">
                        <a href="{% url 'choose_date' worker.first_name %}" class="worker"><p>{{ worker }}</p></a>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}
