{% extends 'templates/choose.html' %}

{% block header %}
    Please, choose the available date
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row d-flex flex-row justify-content-around align-items-start">
            {% for date in dates %}
                <div class="col-sm-4 text-center border rounded border-secondary">
                    <a href="{% url 'order_service' date.id %}" class="worker"><p>{{ date.workday.date }}</p></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}