<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if request.user.is_authenticated %}
            {{ request.user.first_name }}
        {% else %}
            Home
        {% endif %}
    </title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <center>
            <h3>
                Hello {{ request.user.first_name }}
            </h3>
        </center>
    {% else %}
        <center>
            <h3>Welcome you at our page !!!</h3>
        </center>
    {% endif %}
</body>
</html>