{% extends 'templates/home_page.html' %}

{% block content %}
    <header>
		<h1>Welcome {{ request.user.first_name }}</h1>
	</header>
    <nav class="nav-bar">
        <ul>
            <li class="nav-elem"> <a href="my_profile"> My profile </a> </li>
            <li class="nav-elem"><a href="choose_worker"> Order service </a></li>
            <li class="nav-elem"><a href="logout"> Logout </a></li>
        </ul>
    </nav>
    <div class="info">
        <div class="barbers">
            Our Barbers
            <hr>
            <ul class="info-list">
                {% for worker in workers %}
                    <li class="var">
                        <p><a href="{% url 'worker_info' worker.first_name %}">{{ worker.first_name }}</a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="service">
            Service
            <hr>
            <ul class="info-list">
                {% for service in services %}
                    <li class="var">
                        <p><a href="{% url 'service_info' service.name %}">{{ service.name }}</a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}