<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'client_app/css/leave_feedback.css' %}">
</head>
<body>
    <div class="form-container">
        <form action="{% url 'leave_feedback' order.id %}" method="POST">{% csrf_token %}
            {% for field in form %}
                <label class="">{{ field.label_tag }}</label>
                {{ field }}
            {% endfor %}
            {% for message in messages  %}
                {% if message.success %}
                    <a href="my_visits">{{ message }}</a>
                {% else %}
                    {{ message }}
                {% endif %}
            {% endfor %}
            <input type="submit" value="Create">
        </form>
    </div>
</body>
</html>