{% extends 'templates/form.html' %}

{% block content %}
        <div class="form-container">
            <form action="{% url 'leave_feedback' order.id %}" method="POST">{% csrf_token %}
                {% for field in form %}
                    <label class="">{{ field.label_tag }}</label>
                    {{ field }}
                {% endfor %}
                <input type="submit" value="Create">
            </form>
        </div>
{% endblock %}

{% block messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endblock %}