{% extends 'templates/auth.html' %}

{% block value %}
    Sign in
{% endblock %}

{% block form %}
    <form class="mx-1 mx-md-4" action="{% url 'login' %}" method="POST">{% csrf_token %}
          {% for field in form %}
              <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label"> {{ field.label_tag }} </label>
                      {{ field }}
                    </div>
              </div>
         {% endfor %}
         <div class="error">
                {% for message in messages %}
                    <center style="color: red;">{{ message }}</center>
                {% endfor %}
        </div>
        <br>
        <center>
             <div class="btn-group">
                     <button type="submit" class="btn btn-primary" id="but">
                         Sign in
                     </button>
             </div>
        </center>
    </form>
{% endblock %}