{% extends 'templates/profile.html' %}
{% block title %}
    {{ request.user.first_name }}
{% endblock %}

    {% block links %}
        <li><a href="/" class="link">Home</a></li>
        <li><a href="my_visits" class="link">My visits</a></li>
    {% endblock %}

    {% block role %}
        User
    {% endblock %}

    {% block full_name %}
        {{ request.user.first_name }}  {{ request.user.last_name }}
    {% endblock %}

    {% block username %}
        {{ request.user.username }}
    {% endblock %}

    {% block id %}
        {{ request.user.id }}
    {% endblock %}

    {% block info-container %}
        {% if not active_order %}
              <center>You don't have any active orders...</center>
        {% else %}
            <div class="order_info">
                  {% for info in active_order %}
                    <div class="value"> Barber - {{ info.worker_and_date.worker }} </div>
                    <hr>
                    <div class="value"> Service - {{ info.service }} </div>
                    <hr>
                    <div class="value"> Date - {{ info.worker_and_date.workday }}  </div>
                    <hr>
                    <div class="value"> Time - {{ info.time }}  </div>
                  {% endfor %}
          </div>
        {% endif %}
    {% endblock %}


