{% extends 'templates/list.html' %}

{% block link %}
    <a href="/my_profile" class="home">
            Home
    </a>
{% endblock %}

{% block content %}
    {% if not orders %}
        <div class="mt-5 d-flex align-items-center justify-content-center" ><h3>You don't have orders...</h3> </div>
    {% else %}
        <table class="table mt-5">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Worker</th>
                        <th>Service</th>
                        <th>Time</th>
                        <th>Feedback</th>
                    </tr>
                </thead>
            {% for order in orders %}
                <tbody>
                    <tr>
                        <td>{{ order.worker_and_date.workday }}</td>
                        <td>{{ order.worker_and_date.worker }}</td>
                        <td>{{ order.service }}</td>
                        <td>{{ order.time }}</td>
                        <td>
                            {% if order.has_feedback is False %}
                                    <a href="{% url 'leave_feedback' order.id %}" class="btn btn-primary">
                                        Leave Feedback
                                    </a>
                            {% else %}
                                <a href="{% url 'read_feedback' order.id %}" class="btn btn-primary">
                                    Read Feedback
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}