<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Order Service</title>
    <link rel="stylesheet" type="text/css" href="{% static 'client_app/css/order_service.css' %}">
</head>
<body>
    {% if not worktime %}
        <div class="">

        </div>
    {% else %}
        <hr>
        <div class="form-container">
            <form action="" method="POST">{% csrf_token %}
                {% for field in form %}
                    <label class="">{{ field.label_tag }}</label>
                    {{ field }}
                    <div style="color: red;">{{ field.errors }}</div>
                {% endfor %}
                <input type="submit" value="Order">
            </form>
        </div>
    {% endif %}

</body>
</html>