<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'client_app/css/service_info.css' %}">
</head>
<body>
    <head>
        <title>Example Website Layout</title>
    </head>
    {% for info in service %}
        <header>
            <h1>{{ info.name }}</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <main>
            <div class="description">
                <h2 class="name">Description</h2>
                <hr>
                <p>{{ info.description }}</p>
                <hr>
                <h3>
                    Price - {{ info.price }} $
                </h3>
            </div>
        </main>
    {% endfor %}
</body>
</html>