{% extends 'templates/home_page.html' %}


{% block header %}
    {% for info in service %}
        {{ info.name }}
    {% endfor %}
{% endblock %}

{% block links %}
    <a class="btn btn-primary" href="/"> Home </a>
{% endblock %}

{% block content %}
    <main>
        {% for info in service %}
            <div class="description">
                <h2 class="name">Description</h2>
                <hr>
                <p>{{ info.description }}</p>
                <hr>
                <h3>
                    Price - {{ info.price }} $
                </h3>
            </div>
        {% endfor %}
    </main>
{% endblock %}