{% extends 'templates/profile.html' %}

    {% block links %}
        {% for info in worker %}
            <li><a href="/" class="link">Home</a></li>
            <li><a href="{% url 'worker_feedbacks' info.first_name %}" class="link">Feedbacks</a></li>
        {% endfor %}
    {% endblock %}


    {% block role %}
        Professional Barber
    {% endblock %}

    {% block full_name %}
        {% for info in worker %}
            {{ info.first_name }} {{ info.last_name }}
        {% endfor %}
    {% endblock %}

    {% block username %}
        {% for info in worker %}
            {{ info.username }}
        {% endfor %}
    {% endblock %}

    {% block id %}
        {% for info in worker %}
            {{ info.id }}
        {% endfor %}
    {% endblock %}
