.welcome {
    text-align: center;
}


.buttons {
    background-color: white;
    margin: auto;
    height: 219px;
    width: 300px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 20%;
}
.registration {
    color: black;
    padding: 20px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.no_reg {
    color: black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    margin-top: 15px;
}

.login {
    color: black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    margin-top: 15px;
}
