* {
    font-family: "Verdana", sans-serif;
}

body {
    font-size: 23px;
}

.form-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
}

