<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Create Schedule</title>
    <link rel="stylesheet" type="text/css" href="{% static 'administrator_app/css/create_schedule.css' %}">
</head>
<body>
<div class="form-container">
    <form action="{% url 'create_schedule' %}" method="POST">{% csrf_token %}
        {% for field in form %}
            <label> {{ field.label_tag }} </label>
            {{ field }}
            {{ field.errors }}
        {% endfor %}
        <input type="submit" value="Create">
    </form>
</div>
</body>
</html>