{% extends 'templates/home_page.html' %}
{% block content %}
	<header>
		<h1>Welcome {{ request.user.first_name }}</h1>
	</header>
	<nav class="nav-bar">
		<ul>
			<li class="nav-elem"><a href="admin"> Admin panel </a> </li>
			<li class="nav-elem"><a href="create_service">Create Service</a></li>
			<li class="nav-elem"><a href="create_workday">Create Workday</a></li>
			<li class="nav-elem"><a href="create_assignment">Create Assignment</a></li>
			<li class="nav-elem"><a href="create_worktime">Create Worktime</a></li>
			<li class="nav-elem"><a href="create_worktime_assignment">Create Worktime Assignment</a></li>
			<li class="nav-elem"><a href="worker_list">Worker List</a></li>
			<li class="nav-elem"><a href="logout">Logout</a></li>
		</ul>
	<hr>
	</nav>
	 <div class="d-flex flex-column bd-highlight align-items-center mt-2">
			{% if not current_orders %}
				<div class="mt-5">There aren't any orders today...</div>
			{% else %}
				<table class="table">
					  <thead>
							<tr>
								<th>Client</th>
								<th> Worker </th>
								<th>Service</th>
								<th>Time</th>
								<th>Status</th>
							</tr>
					  </thead>
				  <tbody>
					  {% for order in current_orders %}
							<tr>
								<td><a href="{% url 'client_profile' order.user.first_name %}">{{ order.user }}</a></td>
								<td> {{ order.worker_and_date.worker }} </td>
								<td>{{ order.service }}</td>
								<td>{{ order.time }}</td>
								<td>
									<form action="{% url 'deactivate_order' order.id %}" method="POST">{% csrf_token %}
										{{ form.as_p }}
										<input type="submit" value="Submit">
									</form>
								</td>
							</tr>
					  {% endfor %}
				  </tbody>
				</table>
			{% endif %}
	 </div>
{% endblock %}