{% extends 'templates/profile.html' %}

{% block links %}
    {% for data in worker %}
        <li><a href="/worker_list" class="link">Back</a></li>
        <li><a href="{% url 'worker_feedbacks' data.first_name %}" class="link">Feedbacks</a></li>
        <li><a href="{% url 'worker_schedule' data.first_name %}" class="link">Orders</a></li>
    {% endfor %}
{% endblock %}

{% block role %}
    Professional Barber
{% endblock %}

{% block full_name %}
    {% for data in worker %}
        {{ data.first_name }}  {{ data.last_name }}
    {% endfor %}
{% endblock %}

{% block username %}
    {% for data in worker %}
        {{ data.username }}
    {% endfor %}
{% endblock %}

{% block id %}
    {% for data in worker %}
        {{ data.id }}
    {% endfor %}
{% endblock %}

{% block info-container %}
    {% if not current_orders %}
        <div class="mt-5"><h2>
            {%  for data in worker%}
                {{ data.first_name }} doesn't have any orders today... </h2>
            {% endfor %}
        </div>
    {% else %}
        <table class="table">
          <thead>
                <tr>
                    <th>Client</th>
                    <th>Service</th>
                    <th>Time</th>
                </tr>
          </thead>
          <tbody>
          {% for order in current_orders %}
                <tr>
                    <td>{{ order.user }}</td>
                    <td>{{ order.service }}</td>
                    <td>{{ order.time }}</td>
                </tr>
          {% endfor %}
          </tbody>
        </table>
    {% endif %}
{% endblock %}