<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'worker_app/css/main_worker.css' %}" >
</head>
<body>
    <h2 class="hello">
        Hello {{ request.user.first_name }} !
    </h2>
    <a href="">
        <button class="button" role="button">
            My schedule
         </button>
    </a>
    <br>
    <br>
    <a href="">
        <button class="button" role="button">
            Orders
        </button>
    </a>
    <br>
    <br>
    <a href="">
        <button class="button" role="button">
            Feedbacks
        </button>
    </a>
    <br>
    <br>
    <form action="{% url 'logout' %}" method="POST">{% csrf_token %}
        <input type="submit" value="Logout" class="button">
    </form>

</body>
</html>