<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Your schedule</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'worker_app/css/schedule.css' %}">
</head>
<body>
<p>Your schedule:</p>
<div class="container">
        <ul>
            {% for date in dates %}
                    <li>
                        <a href="{% url 'time' date %}">{{ date }}</a>
                    </li>
            {% endfor %}
        </ul>
</div>
</body>
</html>