<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Your schedule</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'worker_app/css/schedule.css' %}">
</head>
<body>
<p>Your schedule:</p>
<div class="container">
        <ul>
            {% for assignment in assignments %}
                    <li>
                        <a>{{ assignment.workday }}</a>
                    </li>
            {% endfor %}
        </ul>
</div>
</body>
</html>